* {
    margin:0;
    padding:0; 
}

#container {
    width: 1000px;
    height: 450px;
    background-color: #e42525;
    margin-left: auto;
    margin-right: auto;
}

#men{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    font-weight: bold;
    color: #06cfcfd8;
    text-align: center;
}

#enc{
    position: relative;
    left: 425px;
    top: 35px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: #36e6ec;
    
}

#header{
    width: 1000px;
    height: 100px;
    background-color: rgb(35, 33, 121);
}

#nav{
    width: 1000px;
    height: 30px;
    background-color: rgba(101, 139, 243, 0.911);
}

#main{
    width: 1000px;
    height: 400px;
    background-color: rgb(68, 221, 196);
}

.inf1{
    font-family: cursive;
    font-size: 15px;
    color: #ff7839;
    position:relative;
    left: 455px;
    top: 0px;
   
}

#tit1{
    font-family:cursive;
    font-size: 35px;
    color: #035039;
    text-align: center;
   
}

.inf2{
    font-family: cursive;
    font-size: 15px;
    color: #4639ff;
    position:relative;
    left: 30px;
    top: 0px;
   
}

#footer{
    width: 1000px;
    height: 40px;
    background-color: rgb(84, 170, 182);
}

#pie{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    font-weight: bold;
    color: #08dd8bab;
    text-align: center;
}

#val{
    float: right;
    position: relative;
    top: -19px;
   
}