* {
    margin: 0;
    padding: 0;
}

#container {
    width: 1000px;
    height: 950px;
    background-color: #e42525;
    margin-left: auto;
    margin-right: auto;
}

#men{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    font-weight: bold;
    color: #06cf71d8;
    text-align: center;
}

#enc{
    position: relative;
    left: 425px;
    top: 35px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: #eb9d0e;
    
}

#header{
    width: 1000px;
    height: 100px;
    background-color: rgb(49, 110, 25);
}

#nav{
    width: 1000px;
    height: 30px;
    background-color: rgba(200, 243, 101, 0.911);
}

#main{
    
    width: 1000px;
    height: 780px;
    background-color: rgb(68, 147, 221);
}

#tit1{
    font-family:'Times New Roman', Times, serif ;
    font-size: 40px;
    color: #B56AFA;
    position: relative;
    left: 225px;
    top: 0px;
}

#tit2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 24px;
    color: #C183FA;
    position: relative;
    left: 255px;
    top: 0px;
}

.inf1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 17px;
    color: #C183FA;
}

.ant1{
    font-family: 'Courier New', Courier, monospace;
    color: #FA6D6B;
}

.des1{
    font-family:'Courier New', Courier, monospace;
    color: #6BFA96;
}

#footer{
    width: 1000px;
    height: 40px;
    background-color: rgb(86, 255, 94);
}

#pie{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    font-weight: bold;
    color: #ddda08ab;
    text-align: center;
}

#val{
    float: right;
    position: relative;
    top: -19px;
   
}
#des11{
    position: relative;
    left: 125px;
    top: 35px;
}

